apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-python-arfxstrv
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-python-arfxstrv:9c497bb88db2fcb5fc2b2a049b4c1feb9f88baf6@sha256:9d6b8d91edbcfd040f3ab00fe2b6443e9f53cd0560ed31478e2247031532fb02
        name: container-image  
